## Social Media and Web Analytics
### Python basics

### Practical 1
##### Exploratory Data Analysis of GDP per capita of various countries

In [1]:
#import necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#Import the dataset
df= pd.read_csv("C:\\Users\\Maneesh\\Downloads\\GM-GDPpercapita.csv")

In [3]:
#Shape of the dataset
print(df.shape)

(204, 253)

In [4]:
#Print unique columns
print(df.columns)

Index(['geo', 'Country Name', '1800', '1801', '1802', '1803', '1804', '1805',
       '1806', '1807',
       ...
       '2041', '2042', '2043', '2044', '2045', '2046', '2047', '2048', '2049',
       '2050'],
      dtype='object', length=253)

In [5]:
#Information of data
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204 entries, 0 to 203
Columns: 253 entries, geo to 2050
dtypes: float64(251), object(2)
memory usage: 403.3+ KB
None

In [6]:
# Print first five rows
print(df.head())

   geo Country Name    1800    1801    1802    1803    1804    1805    1806  \
0  afg  Afghanistan   674.0   674.0   674.0   674.0   674.0   674.0   674.0
1  alb      Albania   746.0   746.0   746.0   746.0   746.0   747.0   747.0
2  dza      Algeria   788.0   788.0   788.0   788.0   788.0   788.0   788.0
3  and      Andorra  1338.0  1341.0  1343.0  1346.0  1348.0  1351.0  1353.0
4  ago       Angola   691.0   693.0   697.0   700.0   702.0   705.0   709.0

     1807  ...      2041      2042      2043      2044      2045      2046  \
0   674.0  ...    2880.0    2942.0    3004.0    3068.0    3133.0    3200.0
1   747.0  ...   24470.0   24990.0   25520.0   26062.0   26615.0   27181.0
2   788.0  ...   13237.0   13518.0   13805.0   14098.0   14398.0   14703.0
3  1355.0  ...  108493.0  110796.0  113148.0  115551.0  118004.0  120509.0
4   712.0  ...    8044.0    8215.0    8389.0    8567.0    8749.0    8935.0

       2047      2048      2049      2050
0    3267.0    3337.0    3408.0    3480.0
1   27758.0   28347.0   28949.0   29563.0
2   15015.0   15334.0   15660.0   15992.0
3  123067.0  125680.0  128348.0  131073.0
4    9124.0    9318.0    9516.0    9718.0

[5 rows x 253 columns]

In [7]:
# Print first five rows
print(df.tail())

          geo  Country Name    1800    1801    1802    1803    1804    1805  \
199    africa        Africa   721.0   722.0   722.0   723.0   723.0   723.0
200      asia          Asia  1103.0  1101.0  1098.0  1095.0  1092.0  1088.0
201    europe        Europe  1825.0  1821.0  1834.0  1834.0  1845.0  1843.0
202  americas  The Americas  1639.0  1650.0  1660.0  1646.0  1642.0  1658.0
203     world         World  1236.0  1235.0  1236.0  1234.0  1234.0  1232.0

       1806    1807  ...     2041     2042     2043     2044     2045  \
199   723.0   727.0  ...   6629.0   6751.0   6875.0   7001.0   7130.0
200  1085.0  1082.0  ...  23366.0  23812.0  24267.0  24731.0  25205.0
201  1847.0  1855.0  ...  55431.0  56632.0  57858.0  59110.0  60389.0
202  1672.0  1676.0  ...  44527.0  45475.0  46445.0  47437.0  48452.0
203  1232.0  1232.0  ...  25217.0  25642.0  26074.0  26514.0  26961.0

        2046     2047     2048     2049     2050
199   7262.0   7396.0   7533.0   7672.0   7815.0
200  25687.0  26180.0  26682.0  27195.0  27718.0
201  61695.0  63029.0  64392.0  65784.0  67207.0
202  49491.0  50555.0  51644.0  52759.0  53901.0
203  27416.0  27880.0  28352.0  28832.0  29321.0

[5 rows x 253 columns]

In [8]:
#Create a new subset from dataset
subset = df[['Country Name','geo', '1800','1801']]
print(subset.head())

  Country Name  geo    1800    1801
0  Afghanistan  afg   674.0   674.0
1      Albania  alb   746.0   746.0
2      Algeria  dza   788.0   788.0
3      Andorra  and  1338.0  1341.0
4       Angola  ago   691.0   693.0

In [9]:
#Types of data in the datasets
df.dtypes

geo              object
Country Name     object
1800            float64
1801            float64
1802            float64
                 ...
2046            float64
2047            float64
2048            float64
2049            float64
2050            float64
Length: 253, dtype: object