## Social Media and Web Analytics
### Practical 2
##### Measures of Central Tendency

In [1]:
#Import Necessary Libraries
import pandas as pd
import numpy as np

In [15]:
#Import dataset
path= r"C:\Users\Maneesh\Downloads\IBM-313 Marks.xlsx"
table = pd.read_excel(path)
print(table)

    S.No.  MTE (25)  Mini Project (25)  Total (50)  ETE (50)  Total
0     1.0      5.00               20.0       25.00      12.0  37.00
1     2.0     11.05               20.0       31.05      26.0  57.05
2     3.0      8.10               20.0       28.10      14.0  42.10
3     4.0      6.00               10.0       16.00      13.0  29.00
4     5.0     11.35               20.0       31.35      17.0  48.35
..    ...       ...                ...         ...       ...    ...
74   75.0     12.05               10.0       22.05      20.0  42.05
75   76.0     12.25               10.0       22.25      28.0  50.25
76   77.0      1.75               10.0       11.75       NaN   0.00
77   78.0      3.00               10.0       13.00       NaN   0.00
78   79.0      5.80               10.0       15.80      12.0  27.80

[79 rows x 6 columns]

In [16]:
# Arithmatic mean
x = table['Total']
np.mean(x)

46.90632911392405

In [17]:
# Median
np.median(x)

45.0

In [18]:
# Mode np.mode(x) is not defined in python, for this import scipy for calculating mode
import scipy
from scipy import stats
stats.mode(x)

ModeResult(mode=array([0.]), count=array([2]))

In [19]:
# percentile
a= np.array([1,2,3,4,5])
p = np.percentile(a,50)
print(p)

3.0

In [20]:
# List
k= ['Ram', 65, 205]
print(k)

['Ram', 65, 205]

In [21]:
for i in k:
    print(i)

Ram
65
205

In [22]:
#Print even numbers between 10 -20
for i in range(10, 20, 2):
    print(i)

10
12
14
16
18

In [23]:
#Print even numbers between 10 -50
for i in range (10,50,2):
    print(i)

10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48

In [24]:
#For printing value in a row seperated by coma
for i in range(10,20,2): print(i, end=', ')

10, 12, 14, 16, 18,

In [25]:
# define a new function
def greet():
    print('Hi')
    print('Good evening')

In [26]:
greet()

Hi
Good evening

In [27]:
# define function for addition
def add(p,q):
    c= p+q
    print(c)

In [28]:
# Addition of the numbers
add(2,4)

6

In [29]:
#minimum and maximum value in a list
data = [1 ,2, 5, 55, 6, 66, 58, 101, 4, 59, 53, 36]
min(data), max(data)

(1, 101)

In [30]:
#minimum and maximum value in a list
data = [1 ,2, 5, 55, 6, 66, 58, 101, 4, 59, 53, 36]
min(data), max(data)

(1, 101)

In [31]:
#defining a new function for minimum and maximum value of dataset 
data= [1, 2, 5, 55, 6, 66, 58, 101, 4, 59, 53, 36]
def min_and_max(data):
    min_val=min(data)
    max_val= max(data)
    
    return(min_val, max_val)

In [32]:
#Print minumumand maximum value of list
min_and_max(data)

(1, 101)